NEXT_PUBLIC_SUPABASE_URL=https://lciimaytmryruyooktkd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=REMPLACE_PAR_TA_CLE_ANON_SUPABASE
NEXT_PUBLIC_SITE_URL=https://megatv-auth-site-oeto.vercel.app
NEXT_PUBLIC_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=mega-ed
SENTRY_PROJECT_ANDROID=android
SENTRY_PROJECT_WEB=megacompagnon-web
SENTRY_ENVIRONMENT=production
